---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { getImage } from "astro:assets";
import { Schema } from "astro-seo-schema";
import BaseLayout from "@layouts/BaseLayout.astro";
import OpenGraphTags from "@components/OpenGraphTags.astro";
import NavigationBar from "@components/NavigationBar.astro";

export const getStaticPaths = (async () => {
    const blogs = await getCollection("blog").then((blogs) =>
        blogs
            .filter(
                (blog) =>
                    blog.data.ankündigung !== true &&
                    blog.data.untertitel &&
                    blog.data.bild
            )
            .map((blog) => ({
                params: {
                    slug: blog.slug,
                },
                props: {
                    blog,
                },
            }))
    );

    return blogs;
}) satisfies GetStaticPaths;

interface Props {
    blog: CollectionEntry<"blog">;
}

const { slug } = Astro.params;
const { blog } = Astro.props;
if (!slug) throw new Error("No slug provided");

const Content = await blog.render().then((content) => content.Content);
if (!blog.data.bild) throw new Error("No image provided");
const thumbnail = await getImage({ src: blog.data.bild, quality: "mid" });
---

<BaseLayout title={blog.data.titel + " - Studio NH"}>
    <Schema
        item={{
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            mainEntityOfPage: {
                "@type": "WebPage",
                "@id": Astro.site + "/blog/" + blog.slug,
            },
            headline: blog.data.titel,
            author: {
                "@type": "Person",
                name: "Nicole Hölting",
                url: Astro.site + "/about/",
            },
            image: thumbnail.src,
            datePublished: blog.data.datum.toISOString(),
            articleBody: blog.body,
        }}
        slot="head"
    />
    <OpenGraphTags
        title={blog.data.titel}
        description={blog.data.untertitel}
        image={blog.data.bild}
        imageQuality="mid"
        slot="head"
    />
    <NavigationBar active={`/blog/${blog.slug}/`} />
    <main class="page_container">
        <h1>{blog.data.titel}</h1>
        <h2>{blog.data.untertitel}</h2>
        <div class="content_container">
            <Content />
        </div>
    </main>
</BaseLayout>

<style lang="scss">
    body {
        background-color: #666;
        max-width: 1400px;
        position: relative;
        left: 50%;
        transform: translate(-50%);

        :global(*) {
            color: #ddd;
        }
    }

    h1 {
        text-align: center;
        margin: 2vw;
        margin-bottom: 0;
        font-size: 5vw;

        @media (max-width: $mobile_max_width) {
            font-size: 2.5rem;
        }
    }

    h2 {
        text-align: center;
        margin: 2vw;
        margin-top: 0;
        font-size: 2vw;

        @media (max-width: $mobile_max_width) {
            font-size: 1.5rem;
        }
    }

    .content_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 5vw;
        grid-gap: 5vw;

        @media (max-width: $mobile_max_width) {
            grid-template-columns: auto;
        }

        > :global(*) {
            margin-bottom: 2cm;
        }

        :global(p:has(img)) {
            display: flex;
            flex-direction: column;

            :global(img) {
                width: 100%;
                height: auto;
                border: 5px solid #ddd;
                display: block;
                margin-top: auto;
                margin-bottom: auto;
            }

            &.quadrat {
                grid-column: span 2;
                grid-row: span 2;
            }
            &.breit {
                grid-column: span 3;
                grid-row: span 1;
            }
            &.hoch {
                grid-column: span 1;
                grid-row: span 3;
            }
        }

        :global(p) {
            max-width: 100%;
            text-align: justify;
            font-size: 14pt;

            @media (max-width: $mobile_max_width) {
                max-width: 100%;
            }

            &:not(:has(img)).breit {
                grid-column: span 2;
            }

            @media (max-width: calc($mobile_max_width * 1.5)) {
                grid-column: span 2;
            }
        }
    }
</style>

<script>
    const images = Array.from(
        document.querySelectorAll(
            ".content_container > p > img, .content_container > img"
        )
    ) as HTMLImageElement[];
    images.forEach((img) => {
        const width = Number(img.attributes.getNamedItem("width")?.value);
        const height = Number(img.attributes.getNamedItem("height")?.value);
        const ratio = width / height;

        if (0.9 < ratio && ratio < 1.1) {
            img.parentElement?.classList.add("quadrat");
        } else if (ratio > 1.5) {
            img.parentElement?.classList.add("breit");
        } else if (ratio < 0.5) {
            img.parentElement?.classList.add("hoch");
        }
    });

    const texte = Array.from(
        document.querySelectorAll(".content_container > p:not(:has(img))")
    ) as HTMLParagraphElement[];
    texte.forEach((text, index) => {
        //if (index % 2 === 0)
        text.classList.add("breit");
    });
</script>
