---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavigationBar from "@components/NavigationBar.astro";
import FederSidebar from "@components/FederSidebar.astro";
import Footer from "@components/Footer.astro";

interface Props {
    title: string;
    activePage: string;
    federAnimation?: string;
    federZitat: string;
    federAuthor: string;
}

const { title, activePage, federAnimation, federAuthor, federZitat } =
    Astro.props;
---

<BaseLayout {title}>
    <slot slot="head" name="head" />
    <div id="pageContainer">
        <NavigationBar active={activePage} />
        <div id="viewContainer">
            <FederSidebar
                zitat={federZitat}
                author={federAuthor}
                animation={federAnimation}
            />
            <div id="content">
                <slot />
            </div>
        </div>
        <Footer />
    </div>
</BaseLayout>

<style lang="scss">
    #pageContainer {
        max-width: 1400px;
        margin: 0 auto;
        height: 100%;

        #viewContainer {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-areas: "feather content";
            max-width: 100%;
            background-color: #e6e6e6;
            border-radius: 0 0 0 30px;

            @media (max-width: $mobile_max_width) {
                border-radius: 0 0 30px 30px;
                padding-bottom: 0.5cm;
            }

            #content {
                max-width: 100%;
                overflow: auto;
            }
        }
    }
</style>
